// custom scss
// Variables
$font-main: 'Questrial', sans-serif;
$background-color: #f3f3f3;
$color-main: #a0a0a0;
// General
@font-face {
    font-family: 'Questrial';
    src: url(../fonts/Questrial-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: $font-main;
}
body{
    background: $background-color;
}
::-webkit-scrollbar{
    background: #bdbdbdaf;
}
::-webkit-scrollbar:hover{
    background: #d4d4d4;
}
::-webkit-scrollbar-thumb{
    background: $color-main;
}
::-webkit-scrollbar-thumb:hover{
    background: #a1a1a1af;
}
::selection{
    background: #000;
    color: #f3f3f3;
}

// Texto de Bienvenida(Inicio)
@keyframes typing{
    from{
        background: #f3f3f3;
        width: 100%;
    }
    to{
        background: #f3f3f3;
        width: 0;
    }
}
@keyframes blinking{
    from{
        border-left: 1px solid;
    }
    to{
        border-left: 1px #000;
    }
}
.welcome{
    height: 100vh;
}
.welcome h2{
    position: relative;
    font-size: 12vw !important;
    font-family: monospace;
}
.welcome p{
    position: relative;
    font-size: 6vw !important;
    font-family: monospace;
}
.welcome h2.text-typing::after{
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    animation: typing 2s alternate steps(13) 2,
               blinking .4s alternate 15;
    background: transparent;
}
.welcome h2.text-typing2::after{
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    animation: typing 2s alternate steps(9),
               blinking .4s alternate 5;
    background: transparent;
}
.welcome p.text-typing3::after{
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    animation: typing 2s alternate steps(20),
               blinking .4s alternate 18;
    background: transparent;
}
@media screen and (min-width: 768px){
    .welcome h2{
        position: relative;
        font-size: 8vw !important;
        font-family: monospace;
    }
    .welcome p{
        position: relative;
        font-size: 2vw !important;
        font-family: monospace;
    }
}

// Sección Inicio
.secHome .container{
    position: relative;
    padding: 0 !important;
    height: 100vh;
}

// Sección Portafolio
@keyframes scroll1{
    from{
        left: -2vw;
        opacity: 0;
    }
    to{
        left: 0;
        opacity: 1;
    }
}
@keyframes scroll2{
    from{
        right: -2vw;
        opacity: 0;
    }
    to{
        right: 0;
        opacity: 1;
    }
}
.card-container:nth-child(1), .card-container:nth-child(2){
    left: -2vw;
    opacity: 0;
}
.card-container:nth-child(3), .card-container:nth-child(4){
    right: -2vw;
    opacity: 0;
}
.animar .card-container:nth-child(1), .animar .card-container:nth-child(2){
    left: 0;
    opacity: 1;
    animation: scroll1 1s linear;
}
.animar .card-container:nth-child(3), .animar .card-container:nth-child(4){
    right: 0;
    opacity: 1;
    animation: scroll2 1s linear;
}
.secBriefcase .container{
    position: relative;
    padding: 0 !important;
    height: calc(100vh - 56px);
}
@media screen and (max-width:1400px) {
    .secBriefcase .container{
        height: auto;
        padding-bottom: 50px !important;
    }
}
@media screen and (max-height:690px) {
    .secBriefcase .container{
        height: auto;
        padding-bottom: 50px !important;
    }
}
.cards{
    width: 100%;
    height: calc(100% - 30vh);
    position: relative;
}
.secBriefcase .title-sec{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-container{
    position: relative;
    height: 27rem;
    width: 18rem;
    margin: 10px;
}

.card{
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-style: preserve-3d;
    transition: .5s;
}

.cardf{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    transform-style: preserve-3d;
    transition: .5s;
}

.card-container:hover > .card{
    transform: rotateY(180deg) scaleX(-1);
    transition: .5s;
}
.card-container:hover > .cardf{
    z-index: 1;
    transition: .5s;
}

// Sección ¿Porque?
.secWhy .container{
    position: relative;
    padding: 0 !important;
    height: calc(100vh - 56px);
}
.secWhy .title-sec{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// Sección Contactanos
.secContactUs .container{
    position: relative;
    padding: 0 !important;
    height: calc(100vh - 56px);
}
.secContactUs .title-sec{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

//Botones Scroll
@keyframes animatebtn {
    from{
        top: 0;
    }
    to{
        top: 10px;
    }
}
.btn-down{
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    color: #a0a0a0;
    border-radius: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s;
}

.btn-down i{
    position: absolute;
    animation: animatebtn .5s alternate infinite;
}